[submodule "googletest"]
	path = googletest
	url = https://github.com/idelsink/googletest
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "qt-android-cmake"]
	path = qt-android-cmake
	url = git@github.com:LaurentGomila/qt-android-cmake.git
